<fmg-button (buttonEvent)="onEvent()">Por defecto</fmg-button><br /><br />

<fmg-button (buttonEvent)="onEvent()" [color]="'secondary'"
  >Big secondary</fmg-button
><br /><br />

<fmg-button (buttonEvent)="onEvent()" [color]="'secondary'" [disable]="true"
  >Big secondary</fmg-button
><br /><br />

<fmg-button (buttonEvent)="onEvent()" [disable]="true">Disabled</fmg-button
><br /><br />

<fmg-button [size]="'small'" (buttonEvent)="onEvent()">Small</fmg-button
><br /><br />

<fmg-button [size]="'small'" (buttonEvent)="onEvent()" [disable]="true"
  >Disabled</fmg-button
><br /><br />

<fmg-button [size]="'small'" [color]="'secondary'" (buttonEvent)="onEvent()"
  >Secondary</fmg-button
><br /><br />

<fmg-button
  [size]="'small'"
  [color]="'secondary'"
  [disable]="true"
  (buttonEvent)="onEvent()"
  >Secondary</fmg-button
><br /><br />

<fmg-file-input
  [color]="'primary'"
  [classRef]="'input01'"
  (fileChange)="onEvent()"
>
  Custom upload </fmg-file-input
><br /><br />

<fmg-file-input [size]="'big'" [classRef]="'input02'" (fileChange)="onEvent()">
  Custom upload </fmg-file-input
><br /><br />

<fmg-file-input
  [color]="'secondary'"
  [classRef]="'input03'"
  (fileChange)="onEvent()"
>
  Custom upload </fmg-file-input
><br /><br />

<fmg-file-input
  [size]="'big'"
  [color]="'secondary'"
  [classRef]="'input04'"
  (fileChange)="onEvent()"
>
  Custom upload </fmg-file-input
><br /><br />
